<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/database_maintenance.css') }}">
    <title>Add Area</title>
</head>
<body>
    <!-- <a href="{{url_for('logout')}}">LogOut</a>
    <br/>
    <a href="{{url_for('database_maintenance')}}">Database Maintenance</a>
    <br/>
    <a href="{{url_for('index_page')}}">Home</a> -->
    <!-- Header section starts -->
    <div class="header">
        <div class="navigation">
            <a href="{{url_for('logout')}}" class="btn header-btn">LogOut</a>
            <a href="{{url_for('database_maintenance')}}" class="btn header-btn">Database Maintenance</a>
            <a href="{{url_for('index_page')}}" class="btn header-btn">Home</a>
        </div>
    </div>
<!-- Header section ends -->
    <div class="styled-container">
        <table style="width:25%", border="1">
        {% for program in programs %}
        <tr>
            <td><a href="{{url_for('add_update_area_program',prog_id=program[0], condition1=False)}}" method="GET">{{program[0] }}</a></td>
        <!-- <td>{{program[0]}}</td> -->
            <td>{{program[1]}}</td>
            <td>{{program[2]}}</td>
            <td>{{program[3]}}</td>
        {% endfor %}
        </tr>
        </table>
    </div>
</body>
</html>