<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/database_maintenance.css') }}">
    <title>Database Maintenance for Bug Hound</title>
</head>
<body>
    <div class="header">
        <div class="navigation" style="display: flex; justify-content: space-between; align-items: center;">
            <a href="{{ url_for('logout') }}" class="btn header-btn">Logout</a>
            <span class="header-title">Database Maintenance</span>
            <a href="{{ url_for('index_page') }}" class="btn header-btn">Home</a>
        </div>
    </div>

    <div class="main-content" style="display: flex; justify-content: space-evenly;">
        <div style="flex: 1; text-align: center;">
            <h2>Areas</h2>
            {% if userlevel >= 2 %}
                <a href="{{ url_for('add_area') }}">Modify</a>
            {% endif %}
        </div>
        <div style="flex: 1; text-align: center;">
            <h2>Programs</h2>
            {% if userlevel >= 2 %}
                <a href="{{ url_for('add_program') }}">Add</a>
                <a href="{{ url_for('update_program') }}">Edit</a>
                <a href="{{ url_for('delete_program') }}">Delete</a>
                {% if userlevel == 3 %}
                    <a href="{{ url_for('export_program_xml') }}">Export</a>
                {% endif %}
            {% endif %}
        </div>
        <div style="flex: 1; text-align: center;">
            <h2>Employees</h2>
            {% if userlevel == 3 %}
                <a href="{{ url_for('add_employee') }}">Add</a>
                <a href="{{ url_for('update_employee') }}">Edit</a>
                <a href="{{ url_for('delete_employee') }}">Delete</a>
                <a href="{{ url_for('export_employee_xml') }}">Export</a>
            {% endif %}
        </div>
    </div>
</body>
</html>
