<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>Update Bug</title>
</head>
<body>
    <a href="{{url_for('logout')}}">LogOut</a>
    <br/>
    <a href="{{url_for('index_page')}}">Home</a>
    <h1>Update Bug Page for {{bug_id}}</h1>

    <form method="POST" action="{{url_for('update_bug',bug_id=bug_id)}}">
        <div class="form-row">
            <label for="problem_summary">Title</label>
            <input type="text" id="problem_summary" name="problem_summary">
            <!-- UPDATED PROGRAM -->
            <label id="program">Program</label>
            <select id ="program" name="program_options">
                <option style="display:none;"></option>
                {% for program in programs %}
                    {% set prog = '-'.join(program[1:]) %}
                    <option value="{{'-'.join(program[1:])}}" {% if prog == data[0][1] %}selected{% endif %}>{{'-'.join(program[1:]) }}</option>
                {% endfor %}
            </select>
        </div>
        <br/>

        <br/>
        <div class="form-row" style="margin-top:20px;">
            <label style="vertical-align:top" for=problem>Description</label>
            &nbsp;
            <textarea name="problem" id="problem" cols="90" rows="3"></textarea>
        </div>
        <br/>

        <!-- UPDATED REPORTED-BY -->
        <div class="form-row">
            <label id="reported_by">Reported By</label>
            <select id ="reported_by" name="reported_by">
                <option style="display:none;"></option>
                {% for option in employees %}
                <option value="{{option[1]}}" {% if option[1] == data[0][7] %}selected{% endif %}>{{option[1]}}</option>
                {% endfor %}
            </select>
            &nbsp;
            <label for="entry_date">Date</label>
            <input type="date" id="entry_date" name="entry_date" value="{{data[0][8]}}"><br>
        </div>
        <hr/>

        <!-- UPDATED FUNCTIONAL AREA -->
        <div class="form-row">
            <label id="areas">Functional Area</label>
            <select id ="areas" name="areas">
                <option style="display:none;"></option>
                {% for option in areas %}
                <option value="{{option[2]}}" {% if option[2] == data[0][9] %}selected{% endif %}>{{option[2]}}</option>
                {% endfor %}
            </select>
            &nbsp;
            <!-- UPDATED ASSIGNED-TO -->
            <label id="assigned_to">Assigned To</label>
            <select id ="assigned_to" name="assigned_to">
                <option style="display:none;"></option>
                {% for option in employees %}
                <option value="{{option[1]}}" {% if option[1] == data[0][10] %}selected{% endif %}>{{option[1]}}</option>
                {% endfor %}
            </select>
        </div>

        <!-- UPDATED COMMENTS -->
        <div class="form-row" style="margin-top:20px;">
            <label style="vertical-align:top" for=comments>Comments</label>
            &nbsp;
            {% if data[0][11] %}
                <textarea name="comments" id="comments" cols="90" rows="3">{{data[0][11]}}</textarea>
            {% else %}
            <textarea name="comments" id="comments" cols="90" rows="3"></textarea>
            {% endif %}
        </div>
        
        <br/>

        <!-- UPDATED STATUS -->
        <div class="form-row">
            <label id="status">Status</label>
            <select id ="status" name="status">
                <option style="display:none;"></option>
                {% for option in status %}
                <option value="{{option}}" {% if option == data[0][12] %}selected{% endif %}>{{option}}</option>
                {% endfor %}
            </select>

            &nbsp;
            
            <!-- UPDATED PRIORITY LEVEL -->
            <label id="priority">Priority</label>
            <select id ="priority" name="priority">
            <option style="display:none;"></option>
            {% for option in priority %}
            <option value="{{option}}" {% if option == data[0][13] %}selected{% endif %}>{{option}}</option>
            {% endfor %}
            </select>
            &nbsp;
        
        </div>

        <br/>
        
        <div class="form-row">

            <!-- UPDATED RESOLVED-BY -->
            <label id="resolved_by">Resolved by</label>
            <select id ="resolved_by" name="resolved_by">
                <option style="display:none;"></option>
                {% for option in employees %}
                <option value="{{option[1]}}" {% if option[1] == data[0][16] %}selected{% endif %}>{{option[1]}}</option>
                {% endfor %}
            </select>

            &nbsp;
            
            <label for="resolved_date">Last Updated</label>
            <input type="date" id="resolved_date" name="resolved_date" value="{{data[0][17]}}">
            
            &nbsp;
            
            <label id="tested_by">Tested by</label>
            <select id ="tested_by" name="tested_by">
                <option style="display:none;"></option>
                {% for option in employees %}
                <option value="{{option[1]}}" {% if option[1] == data[0][18] %}selected{% endif %}>{{option[1]}}</option>
                {% endfor %}
            </select>

            &nbsp;

            <label for="tested_date">Date</label>
            <input type="date" id="tested_date" name="tested_date" value="{{data[0][19]}}">
            &nbsp;
            <!-- </select> -->
        </div>       
        <hr/>

        <div class="button-row">
            <input type="submit" class="btn" value="Submit">
            <input type="reset" class="btn" value="Reset">
            <button type="button" class="btn"><a href="{{url_for('index_page')}}" >Cancel</a></button>
        </div>
    </form>
 
    <br/>
    <br/>
    <form action="{{url_for('view_attachment')}}" method="post">
        <label for="options"><b>Attachment</b></label>
        &nbsp;
        <select name="options">
            <option value="None" selected>None</option>
            {% for option in attach %}
                <option value="{{option[0]}}">{{option[2]}}</option>
            {% endfor %}
        </select>
        <input type="submit" class="btn" value ="Submit">
    </form>
    <hr/>
    <br/>
    <form action = "{{url_for('upload_attachment',bug_id=bug_id)}}" method = "post" enctype="multipart/form-data">  
        <input type="file" name="file" />  
        <input type = "submit" class="btn" value="Submit">  
    </form>  
    
</body>
</html>